<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Popping Peter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>070B09AC1D2C703F00DB9738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070B09C41D2C703F00DB9738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>070B09CF1D2C703F00DB9738</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
